html,
body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans 3", sans-serif;
	box-sizing: border-box;
	background-color: #f5f5f5;
}

.container {
	width: 375px;
	margin: 0 auto;
	background-color: #fff;
}

/* Header */
.header {
	border-bottom: 1px solid #c4c4c4;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
}

.header-logo {
	width: 127px;
}

.header-avatar,
.main-avatar {
	width: 34px;
	height: 34px;
	border-radius: 50%;
}

/* Main */

.main {
	display: flex;
	flex-direction: column;
}

.main-person {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 10px;
	color: #000;
	padding: 10px;
}

.avatar-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 3px;
}

.main-name {
	font-size: 13px;
	font-weight: bold;
}

.main-location {
	font-size: 12px;
	font-weight: normal;
}

.main-post {
	width: 375px;
	height: 375px;
}

/* Post */

.post-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	gap: 10px;
	box-sizing: border-box;
	padding: 15px 10px;
}
.post-icons {
	display: flex;
	gap: 20px;
}

.post-icon {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.post-icon:hover,
.post-icon:focus {
	scale: calc(1.25);
}

.post-like,
.post-commentar {
	font-weight: bold;
	font-size: 13px;
}

.post-comments {
	display: flex;
	gap: 5px;
	font-size: 13px;
}
