html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 375px;
    margin: 0 auto;
}

/* Header */
.header {
    border-bottom: 1px solid #c4c4c4;
    padding: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 127px;
}

.header-avatar, .main-avatar  {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
}

.main-person {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    color: #000;
    padding: 10px;
}

.avatar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.main-name {
    font-size: 13px;
    font-weight: bold;
}

.main-location {
    font-size: 12px;
    font-weight: normal;  
}

.main-post {
    width: 375px;
    height: 375px;
}
